@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome To Your ToDoApp</h1>
    <a asp-controller="ToDoList" asp-action="Details" class="btn btn-info">Summary</a>
    <a asp-controller="ToDoList" asp-action="Create" class="btn btn-secondary">Create New</a>
</div>